html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	color: #fff;
	font: 15px/18px 'PT Sans', Arial, Helvetica, sans-serif;
	background: #54413c url(../img/bg.png) no-repeat;
	min-width: 320px;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

img {
	border-style: none;
}

a {
	color: #000;
	outline: none;
}

a:hover {
	text-decoration: none;
}

* {
	outline: none;
	box-sizing: border-box;
}

input, textarea, select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

header,nav,section,article,aside,footer,figure,menu,dialog {
	display: block;
}

ul {
	list-style: none;
}

.wrapper {
	padding-left: 230px;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	transition: all 1s ease;
}

.wrapper.all-width {
	padding-left: 0;
}

.wrapper.all-width .container {
	padding: 0 10%;
}

.heading-box {
	color: #fff;
	padding: 50px 0 100px 0;
}

.heading {
	background: url(../img/text.png) no-repeat;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15%;
}

.container:after {
	display: block;
	clear: both;
	content: '';
}

.cover-list {
	overflow: hidden;
}

.row:after {
	clear: both;
	display: block;
	content: "";
}

.visual {
	overflow: hidden;
	text-align: center;
}

.visual img {
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.title {
	display: block;
	font-weight: normal;
}

.heading:after {
	clear: both;
	display: block;
	content: "";
}

.top-line {
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: #000;
}

.portfolio-box {
	overflow: hidden;
}

.info-box {
	z-index: 100;
	left: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	float: left;
	width: 245px;
	background-color: #141414;
	font-family: 'Open Sans';
	transition: all 1s ease;
}


.info-box .btn {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: -43px;
	width: 36px;
	height: 36px;
	background: url(../img/bg-btn-02.png) no-repeat;
}

.info-box.closed {
	left: -245px;
}

.info-box.closed  .btn{
	background: url(../img/bg-btn-01.png) no-repeat;
}


.portfolio-list {
	overflow: hidden;
	margin: 0 -3.3333333% -3.3333333% 0;
	padding: 0;
	list-style: none;
}

.portfolio-list-item {
	position: relative;
	display: table;
	width: 30%;
	height: 250px;
	margin: 0 3.3333333% 3.3333333% 0;
	overflow: hidden;
	float: left;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all 1s ease;
}

.portfolio-list-item-1 {
	background-image: url(../img/img-08.png);
}

.portfolio-list-item-2 {
	background-image: url(../img/img-06.png);
	display: block;
}

.portfolio-list-item-2 .page-nav {
	display: block;
}

.portfolio-list-item-3 {
	background-image: url(../img/img-04.png);
}

.portfolio-list-item-4 {
	background-image: url(../img/img-01.png);
}

.portfolio-list-item-5 {
	background-image: url(../img/img-07.png);
}

.portfolio-list-item-6 {
	background-image: url(../img/img-11.png);
}

.portfolio-list-item-7 {
	background-image: url(../img/img-02.png);
	display: block;
}

.portfolio-list-item-7 .page-nav {
	display: block;
}

.portfolio-list-item-8 {
	background-image: url(../img/img-13.png);

}

.portfolio-list-item-9 {
	background-image: url(../img/img-03.png);
}

.portfolio-list-item-10 {
	background-image: url(../img/img-05.png);
}

.portfolio-list-item-11 {
	background-image: url(../img/img-09.png);
}

.portfolio-list-item-12 {
	background-image: url(../img/img-10.png);
}

.portfolio-list-item-13 {
	background-image: url(../img/img-12.png);
}

.portfolio-list-item-2 .page-nav-item  {
	padding: 0;
}

.portfolio-list-item:after {
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	transition: all 1s ease;
	opacity: 0;
}

.portfolio-list-item:hover 
.page-nav {
	opacity: 1;
}

.portfolio-list-item:hover:after {
	opacity: 1;
}

.page-nav {
	opacity: 0;
	text-transform: uppercase;
	text-align: center;
	z-index: 10;
	position: relative;
	vertical-align: middle;
	display: table-cell;
	transition: all 1s ease;
	padding: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.page-nav-item {
	padding: 5px;
}

.page-nav a {
	display: inline-block;
	text-decoration:none;
	cursor: pointer;
	color: #fff;
}

.page-nav a:after {
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	background-color: #ffeb3b;
	transition: width .3s ease-in-out;
}

.page-nav a:hover:after,
.page-nav a:focus:after {
	width: 100%;
}


.photo {
	width: 100px;
	height: 100px;
	border: 3px solid #f8f8f8;
	margin: 0 auto 25px;
	border-radius: 50%;
	overflow: hidden;
}

.photo img {
	width: 100%;
	height: 100%;
}

.name {
	text-align: center;
	font: 24px/24px 'Open Sans', Arial, Helvetica;
}

.info-box .box {
	text-align: center;
	border-top: 1px solid #262626;
	padding: 20px 0;
}

.info-box .photo-box {
	padding-bottom: 30px;
	padding-top: 40px;
}

.contacts h2 {
	color: #f1c40f;
}

.box h2 {
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 40px 20px;
}

.heading-box img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	display: inline-block;
}

.heading-box .title {
	text-align: center;
	margin: 0 0 50px;
}

.social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social-list li {
	margin: 0 0 25px 0
}

.social-list a {
	display: inline-block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 15px;
}

.vk {
	background-image: url(../img/002-vk.png);
}


.linkedin {
	background-image: url(../img/004-linkedin.png);
}


.skype {
	display: inline-block;
	background: url(../img/003-skype.png) no-repeat;
	padding: 0 0 0 35px;
	line-height: 24px;
}

.gmail {
	background-image: url(../img/001-gmail.png);
}

.social-list .gmail {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.icon-list {
	margin: 0;
	padding: 0 20px;
	list-style: none;
	overflow: hidden;
}

.icon-list li {
	display: inline-block;
	margin: 0 10px 20px 10px;
	display: 50%;
}

.icon-list img {
	width: 100%;
	height: 100%;
	max-height: auto;
	max-width: auto;
}

.mCSB_inside > .mCSB_container {
	margin-right: 15px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #bbb !important;
}


