@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

@font-face {
	font-family: 'PTsansCaptionBold';
	src: url('FileName.eot');
	src: url('FileName.eot?#iefix') format('embedded-opentype'),
		 url('FileName.woff') format('woff'),
		 url('../fonts/PT_Sans-Caption-Web-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:700&subset=latin,cyrillic-ext);