@media screen and (max-width: 930px) {
	#fp-nav ul li a, .fp-slidesNav ul li a {
		padding: 10px;
		display: block;
	}
	#header .right {
		float: none;
		overflow: hidden;
		width: 100%;
		padding: 0 20%;
	}

	#header .phone-header {
		margin-top: 0;
	}
	#header .site-address.btn {
		margin-top: 10px;
	}

	#fp-nav .text {
		top: 5px;
	}

	.info-text {
		margin: 0 15% 10px 15%;
	}

	.persons-list-item {
		margin-bottom: 10px;
	}



	.logo {
		height: 46px;
		padding-top: 0;
		background-position: 84px 0;
	}
	.logo a {
		padding-top: 20px;
	}

	#nav.collapsed {
		padding: 5px 0 20px 0;
		margin: 0;
		width: 100%;
		text-align: center;
	}

	#nav {
		margin: 10px 0 0 0;
	}

	#nav.collapsed li {
		float: none;
		display: inline-block;
	}

	#nav.collapsed a {
		padding: 5px;
	}
}

@media screen and (max-width: 930px) {
	#header .right {
		padding: 0 8%;
	}
	.logo {
		width: 100px;
		background-position: 0 0;
	}

	.logo:hover {
		background-position: 0 0;
	}

	#nav.collapsed li {
		margin: 0 5px 8px 5px;
	}

}

@media screen and (max-width: 350px) {
	#header .right {
		padding: 0 5%;
	}
}

@media screen and (max-width: 736px) {
	.fish-text {
		position: static;
		padding: 0;

	}

	.fish-text strong {
		font-size: 50px;	}

	.fish-holder {
		width: 80%;
		background: url(../img/img-bg-fish.png) no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		background-position: center center;
		height: 300px;
	}

	.fish-holder li {
		display: none;
	}
}


@media screen and (max-width: 959px) {
	.customers-list-cover {
		overflow: hidden;
	}

	.customers-list {
		margin: 0;
		text-align: center;
	}

	.customers-list li {
		float: none;
		display: inline-block;
		margin: 20px;
	}

	#footer .container div {
		float: none;
		margin: 0 auto;
	}
}