html {
	height: 100%;
}

body {
	margin: 0;
	color: #5f5a5b;
	font: 12px/18px Arial, Helvetica, sans-serif;
	min-height: 100%;
	background: #000 url(../img/bg-body.png);
	position: relative;
}

body:after {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content:"";
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+50,000000+50,ffffff+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);;;;; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	opacity: 0.2;
	z-index: -1;
}
img {
	border-style: none;
}

a {
	color: #000;
	outline: none;
}

a:hover {
	text-decoration: none;
}

* {
	outline: none;
}

input, textarea, select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

header,nav,section,article,aside,footer,figure,menu,dialog {
	display: block;
}

#wrapper {
	width: 100%;
	position: relative;
	min-height: 100%;
	overflow: hidden;;
}

.center {
	width: 985px;
	margin: 0 auto;

}

.center:after {
	display: block;
	clear: both;
	content: '';
}

.top-panel {
	height: 36px;
	background: url(../img/bg-top-panel.png) repeat-x;
	position: relative;
	padding: 7px 0 0 0;
	box-shadow: 0 0 12px 0 rgba(0,0,0, 0.2); 
	opacity: 0.99;
	box-sizing: border-box;
}

.top-panel a {
	color: #fff;
	font: 12px/12px Arial, sans-serif;
}

/*.top-panel:after {
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content:"";
	position: absolute;
	opacity: 0.3;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
}*/

.top-nav {
	float: left;
	margin: 1px 0 0 0;
}

.top-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-nav li {
	display: inline-block;
	margin: 0 0 0 32px;
	position: relative;
}

.top-nav li:after {
	content: "";
	position: absolute;
	background: url(../img/border-02.png) no-repeat;
	width: 2px;
	height: 11px;
	left: -18px;
	top: 5px;
}

.top-nav li:first-child {
	margin-left: 0;
}

.top-nav li:first-child:after {
	display: none;
}

.top-nav a {
	text-decoration: none;
}

.top-nav a:hover {
	text-decoration: underline;
}
.help a {
	border: 1px solid #fff;
	padding: 2px 7px 5px 5px;
	display: block;
	text-decoration: none;
}

.help a:hover {
	background: #fff;
	color: #000;
}

.help {
	float: left;
	margin: 0 41px 0 0;
}

.log-in {
	float: right;
	padding: 3px 0 0 26px;
	background: url(../img/icon-01.png) no-repeat 4px 4px;
}

.log-in a {
	background: url(../img/underline-01.png) repeat-x bottom;
	text-decoration: none;
	padding: 0 0 3px 0;
	display: block;
}

.log-in a:hover {
	background: none;
}

.wrap-center {
	margin: 0 auto;
	box-shadow: 0 0 12px 0 rgba(0,0,0, 0.2); 
	width: 1096px;
	padding: 35px 54px 35px;
	box-sizing: border-box;
	background: #f7f7f7 url(../img/bg-ruler-3.png) left bottom repeat-x
}

.header-top:after {
	clear: both;
	display: block;
	content: "";
}

.header-top {
	padding: 0 0 31px;
	border-bottom: 3px solid #0b3230;
}

.logo {
	text-transform: uppercase;
	font: 44px/35px "PT sans", Arial, sans-serif;
	margin: 0;
	float: left;
	padding: 0 13px 0 0;
	border-right: 1px solid #000;
	margin: 0 13px 0 0;
}

.logo-box {
	color: #000;
	float: left;
	margin: 0 38px 0 0;
}

.logo-box strong {
	font: 13px/13px "PT sans", Arial, sans-serif;
	float: left;
	margin: -3px 0 0;
	letter-spacing: 0.6px;
}

.logo-box a {
	display: block;
	height: 100%;
	overflow: hidden;
}

.header-top .category-box {
	float: left;
	margin: 0 30px 0 0;
}

.header-top .category-box .small {
	color: #000;
	line-height: 35px;
	float: left;
	margin: 0 18px 0 0;
}

.category .title {
	text-transform: uppercase;
	color: #fff;
	font: 700 12px/35px "PT sans", Arial, sans-serif;
	padding: 0 7px 0 15px;
	cursor: pointer;
	float: left;
	background: #0e99aa;
	border-left: 3px solid transparent;
	letter-spacing: 0.45px;
}

.category:hover .title {
	background: #228d9e;
	border-left: 3px solid #006466;
}

.category:hover .arrow {
	background-color: #228d9e;
}

.category {
	height: 35px;
	position: relative;
	float: left;
	cursor: pointer;
	z-index: 15;
}

.category-box .open .title {
	background-color: #228d9e;
	border-left: 3px solid #006466;
}

.category-box .open .arrow {
	background-color: #fff;
	background-position: -29px 13px;
}

.category .arrow {
	height: 35px;
	width: 35px;
	background: #0e99aa url(../img/icon-02.png) no-repeat 14px 13px;
	float: left;
	position: relative;
}

.category-box .open .arrow:after {
	content:"";
	box-shadow: 0 0 12px 0 rgba(0,0,0, 0.2); 
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1
}

.category .drop {
	position: absolute;
	top: 100%;
	width: 200px;
	box-sizing: border-box;
	background: #fff;
	border-left: 3px solid #228d9e;
	right: -9999px;
	padding: 11px 0;
}

.category-box .open .drop {
	right: 0;
}

.category .drop:after {
	content:"";
	box-shadow: 0 0 12px 0 rgba(0,0,0, 0.2); 
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1
}

.form-category .search-cover {
	margin: 0 17px 10px 20px;
	position: relative;
	vertical-align: top;
}

.form-category .search-category {
	border: 2px solid #e4ddda;
	width: 100%;
	padding: 0;
	font: 700 12px/12px "PT sans", Arial, sans-serif;
	color: #0b2d32;
	box-sizing: border-box;
	padding: 8px 25px 7px 8px;
	text-transform: uppercase;
}

.form-category .search-category:focus {
	border-color: #228d9e;
}

.form-category .search-category:focus + .submit-category {
	background-position: -28px 0;
}

.form-category .search-category:focus + .submit-category:hover {
	background-position: -14px 0;
}

.form-category .submit-category {
	position: absolute;
	padding: 0;
	border: none;
	background: url(../img/submit-city.png) no-repeat;
	cursor: pointer;
	width: 14px;
	height: 14px;
	top: 50%;
	right: 9px;
	margin: -7px 0 0 0;
}

.category-list-cover {
	position: relative;
}

.category-list {
	height: 240px;
	width: 100%;
	overflow: hidden;
}

.category-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.category-list li {
	font: 700 12px/12px "PT sans", Arial, sans-serif;
	color: #0a6880;
	text-transform: uppercase;
	padding: 9px 10px 9px 20px;
	box-sizing: border-box;
	cursor: pointer;
	width: 150px;
	letter-spacing: .6px;
}

.category-list .active {
	background: #228d9e;
	color: #fff;
}

.scrollbar {
	width: 1px; 
	height: 100%;
	position: absolute;
	right: 17px;
	cursor: pointer;
	background: #e4ddda;
	z-index: 10;
}

.scrollbar .handle {
	width: 5px;
	height: 28px; /* overriden if dynamicHandle: 1 */
	background: #c5bfbc;
	border-radius: 3px;
	margin: 0 0 0 -2px;
}

.scrollbar .handle:hover {
	background: #228d9e;
}

.scrollbar .handle.dragged {
	background: #006466;
}

.add-order {
	float: right;
	height: 35px;
	font: 700 12px/35px "PT sans", Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	background: #c1102b url(../img/icon-03.png) no-repeat 20px center;
	padding: 0 14px 0 45px;
	text-decoration: none;
	border-left: 3px solid transparent;
	box-shadow: 0 0 0 0 #9e0b21;
	letter-spacing: 0.4px;
}

.add-order:hover {
	box-shadow: 3px 3px 0 0 #9e0b21;
	background-color: #b60e27;
}

.add-order:active {
	box-shadow: none;
	border-left: 3px solid #9e0b21;
	background: url(../img/icon-03.png) no-repeat 20px center, rgb(174,14,39);
	background: url(../img/icon-03.png) no-repeat 20px center, -webkit-linear-gradient(rgba(174,14,39,1) 30%, rgba(192,16,43,1) 100%);
	background: url(../img/icon-03.png) no-repeat 20px center, -o-linear-gradient(rgba(174,14,39,1) 30%, rgba(192,16,43,1) 100%);
	background: url(../img/icon-03.png) no-repeat 20px center, linear-gradient(rgba(174,14,39,1) 30%, rgba(192,16,43,1) 100%);
}

.header-top .deta {
	float: left;
	text-align: right;
}

#nav ul {
	margin: 0;
	padding: 13px 0 20px 0;
	list-style: none;
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	background: url(../img/bg-ruler-1.png) repeat-x left bottom;
}

#nav li {
	display: inline-block;
}

#nav a {
	font: 14px/14px "PTsansCaptionBold", Arial, sans-serif;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}

#nav ul:after {
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

#nav a:hover {
	color: #228d9e;
}

#header-site {
	margin: 0 0 24px 0;
}

/*Header*/

#twoocolumn:after {
	display: block;
	clear: both;
	content: "";
}

#content {
	width: 730px;
	float: left;
}

/*TABS*/

.tabs-block {
	margin: 0 0 22px 0;
}

.tabs-wrapp:after {
	content:"";
	display:block;
	clear:both;
}

.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #eae9da;
	float: left;
	position: relative;
}

.tabs li {
	float: left;
	padding: 8px 25px 10px 19px;
	font: 13px/13px "PT sans", Arial, sans-serif;
	cursor: pointer;
	color: #000;
	border-radius: 2px 2px 0 0;
	border-top: 3px solid transparent;
	text-transform: uppercase;
	margin: -3px 0 0 6px;
}

.tabs li:first-child {
	margin-left: 0;
}

.tabs .active {
	background: #c1102b;
	color: #fff; 
	border-color: #9e0b21;
	position: relative;
	z-index: 1;
}

.tabs .active:before {
	width: 13px;
	height: 33px;
	position: absolute;
	content:"";
	border-radius: 0 3px 0 0;
	top: -2px;
	right: -13px;
	background: url(../img/shadow-01.png) no-repeat;
	z-index: -1;
}

.tabs .active:last-child:before {
	background: none;
}

.tabs .more {
	position: relative;
	padding-right: 35px;
}

.tabs .more .arrow {
	content: "";
	border: 4px solid transparent;
	border-top: 4px solid #000;
	right: 19px;
	position: absolute;
	top: 12px;
}

.tabs .more:hover .arrow {
	border-top-color: #fff;
}

.tabs .more.active .arrow {
	border-top-color: #fff;
}

.tabs .active:hover {
	background: #c1102b;
	
}

.tabs .active:hover:after {
	display: none;
}

.tabs li:hover {
	border-color: #9e0b21;
	color: #fff; 
	background: #ad0e27;
}

.tabs li:hover:after {
	content: "";
	display: block;
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ad0e27;
}

.tabs-block .box {
	background: #c1102b;
	display:none;
	width: 100%;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	padding: 15px 17px 11px 19px;
	min-height: 81px;
	border-bottom: 3px solid #ddd;
	border-right: 1px solid #ddd;
	box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.tabs-block .box:after {
	clear: both;
	display: block;
	content: "";
}

.tabs-block .visible, .open-tab {
	display: block;
}

/*SEARCH PRODUCTS*/

.cover-search:after {
	clear: both;
	display: block;
	content: "";
}

.form-products .cover-search {
	padding: 0 0 3px 0;
}

.wrapp-search {
	box-sizing: border-box;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 7px 60px 0 14px;
	height: 31px;
	position: relative;
	float: left;
}

.search-products {
	font: 12px/13px Arial, sans-serif;
	color: #fff;
	background: transparent;
	border: none;
	width: 542px;
	padding: 0;
	vertical-align: top;
}

.wrapp-submit {
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	position: relative;
	width: 70px;
	height: 31px;
	box-sizing: border-box;
	float: right;
	margin: 0 0 0 5px;
}

.wrapp-submit:after {
	content: "";
	height: 31px;
	width: 12px;
	position: absolute;
	top: -2px;
	left: -11px;
	background: url(../img/border-search.png) no-repeat;
}

.submit-products {
	border: none;
	background: transparent url(../img/search-products.png) no-repeat -29px 50%;
	padding: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.wrapp-submit:hover:after {
	background: url(../img/border-search.png) no-repeat -12px 0;
}

.wrapp-submit:hover .submit-products {
	background: #fff url(../img/search-products.png) no-repeat 25px 50%;
}

.microphone {
	position: absolute;
	width: 12px;
	height: 100%;
	width: 39px;
	right: 5px;
	top: 0;
	background: url(../img/icon-04.png) no-repeat 12px center;
}

.microphone:hover {
	background: #fff url(../img/icon-04.png) no-repeat -26px center;
}

.search-products:focus + .results-box {
	display: block;
}

.visual {
	overflow: hidden;
	text-align: center;
}

.results-box {
	position: absolute;
	width: 100%;
	z-index: 30;
	top: 31px;
	background: #f7f7f7;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	border-bottom: 3px solid #006466;
	display: none;
	left: 0;
}

.results-list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.visual img {
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.results-list .visual {
	height: 60px;
	line-height: 59px;
	width: 60px;
	float: left;
	margin: 0 15px 0 0;
}

.results-list h2{
	color: #006163;
	font: 700 13px/18px "PT sans", Arial, sans-serif;
	text-decoration: none;
	margin: 0 0 5px 0;
}

.results-list .description p {
	margin: 0;
	font-size: 13px;
	height: 36px;
	overflow: hidden;
}

.results-list .description {
	float: left;
	width: 325px;
	margin: 0 45px 0 0;
}

.results-list .cover {
	display: block;
	padding: 8px 25px 0 30px;
}

.results-list li:first-child .cover {
	padding-top: 24px;
}

.results-list .cover:hover {
	background: #ebebeb;
}

.results-list .cover:hover h2 {
	text-decoration: underline;
}

.results-list .inner {
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	padding: 0 0 11px 0
}

.cost-box {
	float: left;
	width: 115px;
}

.cost-box span {
	display: block;
	margin: 0 0 5px 0;
}

.cost-box strong {
	color: #c1102b;
	display: block;
}

.results-box .show-all {
	background: #eae9da;
	padding: 15px 30px 18px;
	overflow: hidden;
	margin: -1px 0 0 0;
}

.results-box .show-all .show {
	padding: 0 17px 0 0;
	background: url(../img/arrow-02.png) right 5px no-repeat;
	font: 700 13px/13px "PT sans", Arial, sans-serif;
	color: #006163;
	display: inline-block;
}

.form-products .bottom-panel {
	overflow: hidden;
	color: #fff;
}

.form-products .bottom-panel a {
	white-space: nowrap;
	background: url(../img/underline-02.png) repeat-x left bottom;
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

.example a {
	margin: 0 1px 0 0;
}

.form-products .bottom-panel a:hover {
	background: none;
}

.right {
	float: right;
}

.bottom-panel .advanced-search {
	position: relative;
	margin: 0 19px 0 0;
}

.advanced-search:after{
	position: absolute;
	width: 10px;
	height: 8px;
	content: "";
	background: url(../img/arrow-03.png) no-repeat;
	right: -20px;
	top: 50%;
	margin: -4px 0 0 0;
}

/*--------------------------------*/

.news-box .heading {
	padding: 0 0 12px 0;
	background: url(../img/bg-ruler-2.png) repeat-x bottom;
	margin: 0 0 21px;
}

.heading:after {
	clear: both;
	display: block;
	content: "";
}

.news-box .heading h3 {
	font: 15px/35px "PTsansCaptionBold", Arial, sans-serif;
	color: #000;
	float: left;
	margin: 0 13px 0 0;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

.news-box .heading .category-box {
	float: left;
}

.news-box .category-box .title {
	padding-right: 13px;
}

.all-news {
	color: #0b3230;
	font: 700 13px/35px "PT sans", Arial, sans-serif;
	letter-spacing: 0.8px;
}

.all-news:hover {
	text-decoration: none;
}

.news-container {
	overflow: hidden;
	padding: 0 0 23px;
}

.news-list .visual {
	height: 197px;
	line-height: 195px;
	margin: 0 0 18px;
}

.news-list .description {
	margin: 0 0 5px;
}

.news-list .description h3 {
	color: #0b3230;
	font: 700 13px/18px "PT sans", Arial, sans-serif;
	margin: 0 0 4px;
}

.news-list .description p {
	margin: 0;
}

.ds-bottom {
	margin: 0 -12px 0 0;
	padding: 0;
	list-style: none;
}

.ds-bottom li {
	display: inline-block;
	margin: 0 16px 0 0;
	position: relative;
}

.ds-bottom li:first-child:after {
	background: none;
}

.ds-bottom li:after {
	top: 6px;
	left: -10px;
	width: 1px;
	height: 8px;
	content: "";
	position: absolute;
	background: url(../img/border-01.png) no-repeat;
}

.ds-bottom a {
	color: #0b3230;
	font: 400 12px/13px "PT sans", Arial, sans-serif;
	text-decoration: none;
	letter-spacing: 0.4px;
}

.ds-bottom .deta, .ds-bottom .viewed {
	color: #a79c96;
}

.viewed {
	padding: 0 0 0 20px; 
	background: url(../img/icon-05.png) left center no-repeat;
}

.news-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 471px;
	float: left;
	position: relative;
}

.news-list > li{
	float: left;
}

.swith-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.switch {
	width: 208px;
	padding: 0 0 0 16px;
	height: 367px;
	position: relative;
}

/*.switch:after {
	content: "";
	width: 100%;
	height: 56px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/overlay-switch.png) repeat-x right bottom;
}*/

.switch-box .scrollbar {
	top: 0;
	right: 2px;
}

.switch-box {
	position: relative;
	float: right;
	padding: 0 22px 0 0;
}

.swith-list li {
	width: 208px;
	border-bottom: 1px solid #e6e6e6;
	padding: 0 0 12px;
	margin: 0 0 10px;
	cursor: pointer;
}

.swith-list li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.swith-list p {
	font: 700 13px/18px "PT sans", Arial, sans-serif;
	color: #0b3230;
	position: relative; 
	margin: 0;
}

.swith-list .active p {
	color: #006466;
}

.swith-list .active p:before {
	content: "";
	border: solid 7px transparent;
	border-right: solid 7px #006466;
	position: absolute;
	left: -23px;
	top: 50%;
	margin: -7px 0 0 0;
	box-sizing: border-box;
}

.swith-list .active p:after {
	content: "";
	left: -10px;
	width: 2px;
	height: 100%;
	background: #006466;
	position: absolute;
	top: 0;
	font: 700 13px/18px "PT sans", Arial, sans-serif;
	color: #0b3230;
}


.vacancies-container {
	border: 1px solid #e4ddda;
	padding: 22px 8px 35px 19px;
	position: relative;
	margin: 0 0 37px;
}

.vacancies-container .heading {
	font: 15px/15px "PTsansCaptionBold", Arial, sans-serif;
	color: #000;
	text-transform: uppercase;
	position: absolute;
	padding: 0 9px;
	left: 10px;
	top: -8px;
	margin: 0;
	background-color: #fff;
	letter-spacing: 0.9px;
}

.all-vacancies {
	position: absolute;
	padding: 0 8px;
	background-color: #fff;
	right: 11px;
	bottom: -6px;
	letter-spacing: 0.5px;
	font: 700 13px/13px "PT sans", Arial, sans-serif;
	text-decoration: none;
	color: #0b3230;
}

.all-vacancies:hover {
	text-decoration: underline;
}

.vacancies-slider {
	overflow: hidden;
	width: 703px;
}

.vacancies-slider > ul {
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin: 0;
}

.vacancies-slider > ul > li {
	float: left;
	width: 703px;
}

.vacancies-list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.vacancies-list li {
	float: left;
	width: 223px;
	margin: 0 0 0 17px;
	overflow: hidden;
}

.vacancies-list li:first-child {
	margin-left: 0;
}

.vacancies-list h3 {
	position: relative;
	margin: 0 0 12px;
}

.vacancies-list h3 a {
	color: #0b3230;
	font: 700 13px/18px "PT sans", Arial, sans-serif;
	letter-spacing: 0.8px;
	text-decoration: none;
}

.vacancies-list h3 a:hover {
	text-decoration: underline;
}

.vacancies-list h3:after {
	content: "";
	position: absolute;
	width: 18px;
	height: 3px;
	background: #c5bfbc;
	left: 0;
	bottom: -7px;
}

.vacancies-list .title {
	display: block;
}

.vacancies-list .title a {
	font: 13px/18px "PT sans", Arial, sans-serif;
	color: #006163;
	text-decoration: none;
}

.vacancies-list .title a:hover {
	text-decoration: underline;
}

.vacancies-list .deta {
	font-style: italic;
	color: #a79c96;
	font: italic 11px/12px Arial, Verdana, sans-serif;
}

.coast {
	display: block;
	font: bold 14px/22px Arial, sans-serif;
	color: #c1102b;
}

.coast .small {
	font-weight: normal;
}

.coast .icon {
	width: 8px;
	height: 12px;
	background: url(../img/icon-06.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.pages li {
	float: left;
	margin: 0 10px 0 0;
	box-sizing: border-box;
	cursor: pointer;
	height: 12px;
	width: 12px;
	background-color: #0e99aa;
	text-indent: -9999px;
	overflow: hidden;
}

.pages li:hover {
	background: #006466
}

.pages li:last-child {
	margin-right: 0;
}

.pages .active {
	border: 2px solid #0e99aa;
	background-color: #fff;
}

.pages li.active {
	background: transparent;
}

.pages {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.vacancies-container .pages {
	position: absolute;
	padding: 0 10px;
	background: #fff;
	top: -6px;
	right: 9px;
}

.product-container .heading {
	border-bottom: 2px solid #228d9e;
	margin: 0 0 20px;
}

.heading-list {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.heading-list li {
	display: inline-block;
}

.heading-list a {
	padding: 12px 20px 9px;
	border-radius: 3px 3px 0 0;
	display: block;
	background-color: #ebebeb;
	text-decoration: none;
	font: 700 13px/13px "PT sans", Arial, sans-serif;
	color: #0e99aa;
	text-transform: uppercase;
}

.heading-list a:hover .small {
	background: none;
}

.heading-list .active {
	background: #228d9e;
	color: #fff;
	padding: 12px 16px 9px;
}
.heading-list .active .small {
	background: none;
}

.heading-list .small {
	padding: 0 0 2px 0;
	display: inline-block;
	margin: 0 11px 0 0;
	background: url(../img/underline-03.png) repeat-x 2px bottom;
	letter-spacing: .5px;
}

.heading-list .quantity {
	font: 13px/13px "PT sans", Arial, sans-serif;
}

.product-category {
	float: right;
	position: relative;
	z-index: 20;
}

.product-category .drop {
	position: absolute;
	top: 100%;
	right: -9999px;
	width: 730px;
	background: url(../img/bg-products.png);
	padding: 38px 35px 0 65px;
	box-sizing: border-box;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

.product-category.open .drop {
	right: 0;
}

.product-category .drop:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.55);
	z-index: -1;
}

.list-category {
	vertical-align: top;
	width: 175px;
	display: inline-block;
	padding: 0;
	list-style: none;
	margin: 0 32px 26px 0;
}

.list-category li {
	margin: 0 0 4px 10px;
}

.list-category li:first-child {
	margin: 0 0 11px 0;
}

.list-category li strong:first-child:after {
	background: #fff;
	bottom: -7px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 18px;
}

.list-category:hover li strong:first-child:after{
	width: 100%;
	transition: all 0.3s ease;
}

.list-category li strong {
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	font: 700 12px/18px "PT sans", Arial, Verdana, sans-serif;
	display: inline-block;
}

.cover-list {
	margin: 0 0 -20px;
}

.list-category li a {
	color: #fff;
	font: 12px/13px "PT Sasn", Arial, Verdana, sans-serif;
	text-decoration: none;
}

.list-category li a:hover, .show-category:hover {
	text-decoration: underline;
}

.show-category {
	display: inline-block;
	padding: 10px 48px 11px 17px;
	background: url(../img/bg-products.png) 8px -4px;
	border-radius: 3px 3px 0 0;
	font: 700 12px/12px "PT sans", Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	margin: 3px 0 0 0;
	letter-spacing: .8px;
}

.show-category:after {
	content: "";
	position: absolute;
	height: 8px;
	width: 10px;
	background: url(../img/arrow-04.png) no-repeat;
	top: 50%;
	margin: -4px 0 0 0;
	right: 24px;
}

.product-category.open .show-category:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.55);
	z-index: -1;
	border-radius: 3px 3px 0 0;
}

.product-category.open .show-category:after {
	background-position: -10px 0;
}

.product-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 112px;
	float: left;
}

.product-nav a {
	display: block;
	width: 100%;
	padding: 8px 0 9px;
	color: #0b3230;
	font: 700 13px/13px "PT sans", Arial, sans-serif;
	text-decoration: none;
}

.product-nav .active {
	color: #fff;
	background: url(../img/bg-products.png) 4px -4px;
	position: relative;
	padding-left: 10px;
	left: -10px
}

.product-nav .active:hover {
	color: #fff;
}

.product-nav a:hover {
	color: #228d9e;
}

.product-nav .active:after {
	content: "";
	width: 9px;
	height: 29px;
	background: url(../img/bg-nav-products.png) no-repeat;
	position: absolute;
	right: -9px;
	top: 0;
}

.product:after {
	clear: both;
	display: block;
	content: "";
}

.product-list-cover {
	float: right;
	width: 595px;
}

.product-list {
	margin: 0 0 6px 0;
	padding: 0;
	list-style: none;
}

.product-list li {
	margin: 17px 0 0 0;
	position: relative;
}

.product-list li:first-child {
	margin-top: 0;
}

.product-list a {
	display: block;
	overflow: hidden;
	text-decoration: none;
	padding: 10px 11px 7px;
}

.product-list a:hover {
	background: #eae9da;
}

.product-list a:hover .text {
	text-decoration: underline;
}

.product-list .visual {
	width: 115px;
	height: 115px;
	float: left;
	margin: 0 17px 0 0
}

.product-list .description {
	overflow: hidden;
}

.product-list .description h4 {
	margin: -2px 0 9px;
	color: #0b3230;
	font: 700 13px/13px "PT sans", Arial, sans-serif;
	letter-spacing: 0.2px;
}

.product-list .title {
	display: block;
	font: 13px/14px "PT sans", Arial, sans-serif;
	color: #006163;
	margin: 0 0 5px;
}

.product-list .text {
	margin: 0 20px 0 0;
}

.rating {
	font-weight: 700;
	padding: 0 0 0 17px;
	position: relative;
}

.rating:after {
	content: "";
	position: absolute;
	width: 14px;
	height: 13px;
	background: url(../img/sprite-rating.png) no-repeat;
	left: 0;
	top: 50%;
	margin: -7px 0 0 0
}

.rating-0:after {
	background-position: 0 0;
}

.rating-1:after {
	background-position: -14px 0;
}

.rating-2:after {
	background-position: -28px 0;
}
.rating-3:after {
	background-position: -42px 0;
}

.rating-4:after {
	background-position: -56px 0;
}

.rating-0 {
	color: #ad0f28;
}

.rating-1 {
	color: #83354c;
}

.rating-2 {
	color: #615468;
}

.rating-3 {
	color: #486b7e;
}

.rating-4 {
	color: #248c9d;
}


.product-list .description p {
	margin: 0 0 9px;
	overflow: hidden;
	height: 36px;
	color: #5f5a5b;
}

.product-list .coast {
	font-size: 12px;
	line-height: 13px;
	position: relative;
	padding: 19px 0 0 0;
}

.product-list .coast:before {
	content:"";
	position: absolute;
	width: 18px;
	height: 3px;
	background: #c5bfbc;
	left: 0;
	top: 7px;
}

.mark-item {
	background: url("../img/icon-09.png") no-repeat -19px 0;
	overflow: hidden;
	position: absolute;
	right: 15px;
	top: 12px;
	width: 16px;
	height: 15px;
	cursor: pointer;
}

.mark-item:hover {
	background-position: -38px 0;
}

.mark-item:hover + a {
	background: #ebebeb;
}

.mark-item:hover + a .text {
	text-decoration: underline;
}

.mark-item.mark-active:hover + a .text {
	text-decoration: none;
}

.mark-item.mark-active:hover + a {
	background: inherit;
}

.mark-item.mark-active {
	background-position: 0 0;
}

.show-more {
	display: block;
	text-align: center;
	font: 700 13px/30px "PT sans", Arial, sans-serif;
	background: #0e99aa;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	height: 30px;
	margin: 0 0 0 11px;
	padding: 0 0 0 29px;
}

.show-more:hover {
	background: #0a6880;
}

.show-more:active {
	background: #0a6880;
	background: -moz-linear-gradient(top,  #0a6880 0%, #228d9e 100%);
	background: -webkit-linear-gradient(top,  #0a6880 0%,#228d9e 100%);
	background: linear-gradient(to bottom,  #0a6880 0%,#228d9e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a6880', endColorstr='#228d9e',GradientType=0 );
}

.show-more .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icon-08.png) no-repeat;
	vertical-align: middle;
	margin: 0 0 0 9px;
}

.f-top {
	overflow: hidden;
}

.copyright {
	float: left;
	margin: 0 50px 0 0;
}

.copyright a {
	color: #000;
	font: 12px/24px Arial, sans-serif;
	text-decoration: none;
}

.copyright a:hover {
	text-decoration: underline;
}

.copyright strong {
	font: 700 13px/24px "PT sans", Arial, sans-serif;
	text-transform: uppercase;
	color: #0b3230;
	letter-spacing: 0.8px;
	margin: 0 0 0 4px;
}

.f-nav {
	width: 682px;
	text-align: center;
	float: left;
}

.f-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.f-nav li {
	display: inline-block;
	margin: 0 0 0 24px;
}

.f-nav li:first-child {
	margin-left: 0;
}

.f-nav a {
	color: #086466;
	font: 12px/24px "PT sans", Arial, sans-serif;
	text-decoration: none;
}

.f-nav a:hover {
	text-decoration: underline;
}

.design {
	text-decoration: none;
	display: block;
	padding: 0 28px 0 0;
	color: #0b2d32;
	font: 12px/24px Arial, sans-serif;
	background: url(../img/icon-10.png) no-repeat right 1px;
}

.design:hover span {
	text-decoration: underline;
}

.main-site {
	margin: 0 0 20px;
	padding: 0 0 25px;
	border-bottom: 3px solid #3094a4;
}


.f-description {
	width: 350px;
}

.f-description h5 {
	color: #000;
	font: 12px/13px Arial, Verdana, sans-serif;
	margin: 0 0 5px;
}

.f-description p {
	color: #5f5a5b;
	font: 11px/13px Arial, Verdana, sans-serif;
	margin: 0;
}

#sidebar {
	float: right;
	width: 240px;
	margin: -3px 0 0 0;
}

.article-box {
	margin: 0 0 35px;
}

.article-box .category-box {
	float: right;
}

.article-box .heading h3 {
	color: #000;
	float: left;
	font: 15px/35px "PTsansCaptionBold",Arial,sans-serif;
	margin: 0 5px 0 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.article-box .heading {
	padding: 0 0 14px;
	background: url(../img/bg-ruler-2.png) repeat-x left bottom;
	margin: 0 0 15px;
}

.article-box .category .title {
	padding-right: 35px;
}

.article {
	margin: 0 0 34px;
}

.article .visual a {
	display: block;
}

.article .visual {
	height: 124px;
	line-height: 122px;
	margin: 0 0 13px;
}

.article p {
	font: 700 13px/18px "PT Sans", Arial, Verdana, sans-serif;
	color: #0b3230;
	margin: 0 0 5px;
}

.ds-bottom .chat {
	background: url(../img/icon-11.png) no-repeat 3px 2px;
	padding: 0 0 0 22px;
}

.article .ds-bottom a {
	font: 12px/13px "PT Sans", Arial, Verdana, sans-serif;
}

.article .ds-bottom .viewed {
	font: 11px/12px Arial, Verdana, sans-serif;
}

.article-list-cover {
	border-top: 1px solid #e4ddda;
	border-bottom: 1px solid #e4ddda;
	padding: 13px 0;
	position: relative;
	margin: 0 0 33px;
}

.article-list {
	height: 203px;
	width: 100%;
	overflow: hidden;
}

.article-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.article-list li {
	margin: 0 0 16px;
	position: relative;
}

.article-list a {
	font: 13px/18px "PT Sans", Arial, Verdana, sans-serif;
	color: #0b3230;
	text-decoration: none;
}


.article-list a:after {
	background: #c5bfbc;
	bottom: -11px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 18px;
}


.article-list a:hover {
	text-decoration: underline;
}

.article-list a:hover:after {
	background: #0b3230;
}

.article-box .prev, .article-box .next {
	bottom: -20px;
	left: 50%;
	margin: 0 0 0 -11px;
	overflow: hidden;
	text-indent: -9999px;
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../img/arrow-06.png) no-repeat 0 0;
}

.article-box .prev {
	top: -20px;
}

.article-box .next:hover {
	background-position: -44px 0
}

.article-box .next.disabled {
	background-position: -22px 0;
}

.article-box .next:active {
	background-position: -66px 0;
}

.article-box .next.disabled:active {
	background-position: -22px 0;
}

.article-box .prev {
	background-position: -132px 0;
}

.article-box .prev:hover {
	background-position: -110px 0
}

.article-box .prev.disabled {
	background-position: -154px 0;
}

.article-box .prev:active {
	background-position: -88px 0;
}

.article-box .prev.disabled:active {
	background-position: -154px 0;
}

.all {
	text-align: center;
}

.all a {
	font: 700 13px/18px "PT Sans", Arial, Verdana, sans-serif;
	color: #0b3230;
	text-decoration: none;
	letter-spacing: 0.8px;
}

.all a:hover {
	text-decoration: underline;
}

.ad-list .numbers {
	font: bold 30px/22px Arial, Verdana, sans-serif;
	display: block;
	padding: 0 0 20px 38px;
	position: relative;
	letter-spacing: 0.8px;
}

.ad-box {
	position: relative;
	margin: 0 0 32px;
}

.ad-list .numbers:after {
	background: #fff;
	bottom: 6px;
	content: "";
	height: 3px;
	left: 39px;
	position: absolute;
	width: 18px;
}

.ad-list {
	overflow: hidden;
	height: 128px;
	width: 100%;
	background: #c1102b;
}

.ad-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;
	overflow: hidden;
}

.ad-list li {
	float: left;
	width: 240px;
}

.ad-list ul > li > a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 12px 18px 35px;
}

.ad-list p {
	font: 12px/14px Arial, Verdana, sans-serif;
	margin: 0;
}

.ad-list .text {
	background: url(../img/icon-12.png) no-repeat 2px 9px;
	padding: 0 0 0 38px;
	height: 42px;
	overflow: hidden;
}

.ad-box .pages {
	background: #fff;
	padding: 6px 21px;
	height: 12px;
	margin: -12px auto 0;
	position: relative;
	display: table;
}

.tenders-box .heading {
	border-top: 2px solid #c1102b;
	padding: 12px 14px 15px 17px;
	background: #eae9da;
}

.tenders-box .pages {
	float: right;
}

.tenders-box .heading h3 {
	overflow: hidden;
	text-transform: uppercase;
	font: 14px/14px "PTsansCaptionBold",Arial,sans-serif;
	color: #000;
	margin: 0;
}

.tenders-slider {
	width: 201px;
	overflow: hidden;
	margin: 0 0 5px;
}

.tenders-slider > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.tenders-slider > ul > li {
	float: left;
	width: 201px;
}

.tenders-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tenders-list li {
	padding: 0 0 15px;
	background:url(../img/bg-ruler-2.png) repeat-x left bottom;
	margin: 15px 0 0;
}

.tenders-list li:first-child {
	margin-top: 0;
}

.tenders-list .info-panel {
	overflow: hidden;
	font: 11px/12px Arial, Verdana, sans-serif;
	margin: 0 0 13px;
}

.tenders-list .info-panel a {
	text-decoration: none;
	color: #a79c96;
}

.tenders-list .info-panel .deta {
	float: left;
	font-style: italic;
}

.tenders-box {
	border-right: 1px solid #e4ddda;
	border-left: 1px solid #e4ddda;
	border-bottom: 1px solid #e4ddda;
}

.tenders-list .info-panel .viewed {
	float: right;
	background: url(../img/icon-13.png) no-repeat;
}

.tenders-list h4 {
	color: #0b3230;
	font: 700 13px/18px "PT sans",Arial,sans-serif;
	margin: 0 0 7px 0;
	letter-spacing: 0.7px;
}

.tender {
	overflow: hidden;
}

.tender .visual {
	width: 57px;
	height: 57px;
	padding: 0 0 2px;
	border-bottom: 1px solid #006466;
	line-height: 55px;
	margin: 0 15px 0 0;
	float: left;
}

.tender .description {
	overflow: hidden;
}

.tender .title {
	overflow: hidden;
	display: block;
	margin: 0 0 5px;
}

.tender .title a {
	color: #006163;
	font: 13px/14px "PT Sans", Arial, Verdana, sans-serif;
	text-decoration: none;
}

.tender .title a:hover {
	text-decoration: underline;
}

.tender .rating {
	float: right;
}

.tenders-cover {
	padding: 6px 19px 20px 18px;
}

.tender .coast {
	font-size: 12px;
	line-height: 14px;
	margin: 0 0 5px;
}

.bid {
	color: #a79c96;
	font: italic 11px/12px Arial, sans-serif;
}

.tenders-pages li {
	background: #c1102b;
}

.tenders-pages .active {
	background: transparent;
	border-color: #c1102b;
}

.search-box .heading {
	background: #ebebeb;
	padding: 9px 16px 9px 20px;
	height: 41px;
	box-sizing: border-box;
}

.filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.filter {
	float: right;
}

.search-box .amount {
	color: #000;
	float: left;
	font: 700 13px/18px "PT Sans", Arial, Verdana, sans-serif;
}

.filter-list li {
	float: left;
	margin: 0 0 0 13px;
	position: relative;
}

.filter-list li:after {
	content: "";
	background: url(../img/border-03.png) no-repeat;
	width: 2px;
	height: 11px;
	position: absolute;
	left: -7px;
	top: 5px;

}

.filter-list li:first-child {
	margin-left: 0;
}

.filter-list li:first-child:after {
	display: none;
}

.filter span {
	float: left;
	margin: 0 7px 0 0;
	font-size: 13px;
	line-height: 20px;
}

.filter-list a {
	margin: 0 8px;
	text-decoration: none;
	display: block;
	color: #0b3230;
	font: 700 13px/22px "PT Sans", Arial, Verdana, sans-serif;
	background: url(../img/underline-04.png) repeat-x left bottom 3px;
}

.filter-list a:hover {
	background-image: none;
}

.filter-list .active {
	background: #228d9e;
	color: #fff;
	margin: 0;
	padding: 0 8px;
}

.main-search .tabs-block {
	margin: 0 0 29px;
}

.search-box .results-list li:first-child .cover{
	padding-top: 18px;
}

.search-box .results-list li:last-child .inner {
	border: none;
}

.search-box .cover {
	padding: 9px 0 0 19px;
}

.search-box .cost-box {
	width: 92px;
}

.search-box .description {
	width: 484px;
	margin: 0 37px 0 0;
}

.search-box .results-list {
	margin: 0 0 17px;
	padding-bottom: 32px;
	background: url(../img/bg-ruler-2.png) repeat-x left bottom;
}

.pages-list {
	margin: 0;
	padding: 0 0;
	list-style: none;
	text-align: center;
	overflow: hidden;
}

.pages-list .next {
	float: right;
	margin: 0 22px 0 0
}

.pages-list .prev {
	float: left;
	margin: 0 0 0 22px
}

.pages-list .prev a:after {
	content: "";
	position: absolute;
	width: 13px;
	height: 5px;
	background: url(../img/arrow-07.png) no-repeat;
	left: -20px;
	top: 8px;
}

.main-search {
	padding-bottom: 30px;
}


.pages-list .next a:after {
	right: -20px;
	top: 8px;
	content: "";
	position: absolute;
	width: 13px;
	height: 5px;
	background: url(../img/arrow-07.png) no-repeat -13px 0;
}

.pages-list a {
	color: #0b3230;
	text-decoration: none;
	font: 15px/25px "PT Sans", Arial, sans-serif;
	width: 25px;
	height: 25px;
	display: block;
	border-bottom: 2px solid transparent;
	box-sizing: border-box;
}

.pages-list a:hover {
	border-color: #006466;
}

.pages-list .active {
	background: #0e99aa;
	color: #fff;
}

.pages-list .active:hover {
	border-color: transparent;
}

.pages-list .prev a, .pages-list .next a {
	position: relative;
	width: auto;
	height: auto;
	display: inline;
}

.pages-list .prev a:hover, .pages-list .next a:hover {
	text-decoration: underline;
	border-color: transparent;
}

.pages-list li {
	display: inline-block;
	margin: 0 0 0 23px;
}









